[data-slot="list-scroll"] {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
  &::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-weak-base);
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--border-strong-base);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
